
// 左侧组件导航栏
.page-list-box 
  background-color: #fefefe;
  border: #e6f0ee solid;
  border-width: 0 1px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow: auto;
  a 
    display block
    text-decoration none 
    color #000

  .h1 
    font-size 24px
    padding 16px
    border-bottom 1px solid #e6f0ee
  .list-box
    padding 20px 0 0 16px 
    .list-item 
      padding-bottom 20px
    .item-header 
      padding-bottom 5px
      font-size 16px 
    .item 
      font-size 14px
      padding-left 16px
      line-height 24px


// 右侧内容
.content-box 
  padding 100px 0 0 250px

  iframe 
    border none

  .iframe-box 
    float left
    width 450px 
    height 800px 
    overflow hidden
    background url('./imgs/img1.png') no-repeat center / 100% 100%
    .iframe-item 
      display block
      width 375px 
      height 667px
      margin 80px auto
  
  .markdown-box 
    float left
    margin-left 100px
    iframe
      width 500px
      height 800px