.pp-switch
  width 60px
  height 30px
  border-radius 1000px
  cursor pointer
  text-align left
  background-color #999
  transition background-color .3s
  overflow hidden
  .move 
    margin 1px 1px 0 1px
    width 28px
    height 28px 
    background-color #fff 
    border-radius 50%
    transition: background-color .3s
  .move-true 
    transform translateX(30px)
.pp-switch-true 
  background rgb(32, 143, 238)
.pp-switch-disabled 
  opacity .5
  
